@import "../shared";

.controls {
    bottom: 130px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    position: fixed;
    right: 28px; 

    button {
        background-position: top -11px left -18px;
        background-size: 216%;
        border-radius: 6px;
        border: unset;
        box-shadow: -6px 7px 15px #242424;
        position: relative;
        cursor: pointer;
        height: 2.2em;
        overflow: hidden;
        width: 2.2em;
    }

    :first-child {
        margin-bottom: 4px;
    }    
}
