@import "../shared";

.page {
  @include luti_font;

  display: flex;
  justify-content: center;
  align-items: center;
  color: #666666;
  font-size: 1.2em;

  .wf-loading & {
    opacity: 0;
  }

  .wf-active & {
    opacity: 1;
    transition: all $transition_speed linear;
  }

  .wrapper {
    width: 100%;
    margin: 85px 200px;
    padding: 20px 50px;
    background-color: #f6f6f6;

    h1 {
      font-weight: 500;
      margin: 0;
      font-size: 90px;
    }

    p {
      font-family: "roboto-condensed", sans-serif;
      font-weight: 400;
      text-transform: none;
      font-size: 26px;
      line-height: 1.4em;
    }

    a {
      padding: 0 2px;
    }

    a:hover {
      color: purple;
    }
  }
}
