@import "../shared";

.page {
  @include luti_font;

  display: flex;
  justify-content: center;
  align-items: center;
  color: #666666;
  font-size: 1.2em;

  .wf-loading & {
    opacity: 0;
  }

  .wf-active & {
    opacity: 1;
    transition: all $transition_speed linear;
  }

  .wrapper {
    width: 100%;
    margin: 50px 150px;
    padding: 20px;
    background-color: #f6f6f6;

    h1 {
      font-weight: 400;
      margin: 0;
    }

    p {
      text-transform: none;
      font-size: 22px;
      line-height: 1.5em;
    }

    a {
      padding: 0 5px;
    }

    a:hover {
      color: purple;
    }
  }
}
