@import "../shared";

$content_width: 560px;
$content_height: 315px;

.page {
  @include luti_font;

  display: flex;
  justify-content: center;
  align-items: center;
  color: #666666;
  font-size: 1.2em;

  .wrapper {
    width: 100%;
    max-width: 900px;
    margin: 85px 100px;
    padding: 20px 50px;
    background-color: #f6f6f6;

    @media (max-width: $mobile_breakpoint) {
      margin: 85px 30px;
      padding: 20px 20px;
    }

    @media (min-width: $large_breakpoint) {
      padding: 30px 120px;
    }
  }

  .embeds_wrapper {
    margin-top: 50px;
  }

  .youtube_embed {
    width: $content_width;
    height: $content_height;

    @media (max-width: $mobile_breakpoint) {
      width: 100%;
      height: 100%;
    }
  }

  h1 {
    font-weight: 500;
    margin: 0;
    font-size: 75px;

    @media (max-width: $mobile_breakpoint) {
      font-size: 40px;
    }
  }

  h2 {
    font-weight: normal;
    font-size: 200%;
  }

  p {
    font-family: roboto-condensed, sans-serif;
    font-weight: 300;
    text-transform: none;
    font-size: 22px;
    line-height: 1.4;

    @media (max-width: $mobile_breakpoint) {
      font-size: 22px;
      line-height: 1;
    }
  }

  img {
    max-width: $content_width;
  }

  figure {
    display: inline;
    padding: 0;
    margin: 0;
  }

  figcaption {
    font-family: roboto-condensed, sans-serif;
    font-weight: 300;
    font-size: 14px;
    text-transform: none;
    margin: 5px 0 40px;
    padding: 0;
    max-width: $content_width;
  }

  a {
    color: lightcoral;
    padding: 0 2px;
  }

  a:hover {
      color: orchid;
    }

  .contact {
  }

  .disclosure {
  }

  // web fonts
  .wf-loading & {
    opacity: 0;
  }

  .wf-active & {
    opacity: 1;
    transition: all $transition_speed linear;
  }
}
