$luti_background: #dcdedd;
$rows: 10;
$img_width: 1920px;
$img_height: 1080px;

body {
  margin: 0;
  background-color: #dcdedd;
  overflow: hidden;
}
html,
body,
#map {
  background-color: $luti_background;
}

#map {
  height: $rows * $img_width;
  width: $rows * $img_width;
}

.leaflet-control-container {
  /* display: none; */
}
.leaflet-control-attribution {
  display: none;
}

#critters {
  display: none;
}

/* ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
} */

video {
}
