$luti_background: #dcdedd;
$rows: 5;
$img_width: 1080px;
$img_height: 1920px;

body {
  margin: 0;
  background-color: #dcdedd;
  overflow: hidden;
}
html,
body,
#map {
  height: calc($rows * $img_width); // matches rows in js
  width: calc($rows * $img_height);
  background-color: $luti_background;
  background-color: darkmagenta;
  background-color: #33d4dc;
}

.leaflet-control-container {
  /* display: none; */
}
.leaflet-control-attribution {
  display: none;
}

#critters {
  display: none;
}

/* ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
} */

video {
}
