body {
  margin: 0;
  background-color: #dcdedd;
  overflow: hidden;
}
html,
body,
#map {
  /*
  background-color: LIGHTGOLDENRODYELLOW
  background: LIGHTYELLOW;
  background: MIDNIGHTBLUE;
  */
  background-color: SEASHELL;
  background-color: #dcdedd;
  background: DARKMAGENTA;
}

.leaflet-control-container {
  /* display: none; */
}
.leaflet-control-attribution {
  display: none;
}

#critters {
  display: none;
}

/* ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
} */

video {
}
