body {
  margin: 0;
  background-color: #dcdedd;
}
html,
body,
#map {
  height: 100%;
  background-color: #dcdedd;
  /*
  background-color: SEASHELL;
  background-color: LIGHTGOLDENRODYELLOW
  background: LIGHTYELLOW;
  background: DARKMAGENTA;
  background: MIDNIGHTBLUE;
  /* background-color: DARKSLATEGRAY; */
}

.leaflet-control-container {
  /* display: none; */
}
.leaflet-control-attribution {
  display: none;
}

#critters {
  display: none;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

video {
}
