@import "shared";

.info-button {
  $margin-bottom: 20px;
  background: transparent;
  border: 0;
  bottom: $margin-bottom;
  margin-bottom: 15px;
  outline: 0;
  position: fixed;
  right: 20px;
  width: 175px;
  z-index: $z-index-map;
}

.info-button:hover {
  cursor: pointer;
}
