@import "shared";
@import "sharingButtons";

$overlay-height-desktop: 240px;
$overlay-height-mobile: 130px;
$speed: 600ms;
$padding: 20px;

.info-button {
  $margin-bottom: 20px;

  position: fixed;
  right: 20px;
  bottom: $margin-bottom;
  width: 200px;
  margin-bottom: 0px;

  background: transparent;
  outline: 0;
  border: 0;
  z-index: 900;

  // animations
  .hidden & {
    bottom: $margin-bottom;
  }

  .enter & {
    bottom: $margin-bottom;
  }

  .enter.enter-active & {
    bottom: $overlay-height-desktop + $margin-bottom;
    transition: all $transition_speed ease-in;
  }

  .enter-done & {
    bottom: $overlay-height-desktop + $margin-bottom;
  }

  .exit & {
    bottom: $margin-bottom;
  }

  .exit-active & {
    bottom: $margin-bottom;
    transition: all $transition_speed ease-out;
  }

  .exit-done & {
  }
}

.info-button:hover {
  cursor: pointer;
}

.title-desc {
}

.info-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 16px;

  @media (min-width: $mobile_breakpoint) {
    overflow-y: hidden;
  }

  z-index: 500;
  background: #fff;
  padding: 0;

  height: 0;

  .info-section {
    flex: 2;
  }

  .share-links {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }

  .share-links {
    @media (max-width: $mobile_breakpoint) {
      display: none;
    }
  }

  // animations
  .hidden & {
    height: 0;
    padding: 0;
  }

  .enter & {
    height: 0;
    padding: 0;
  }

  .enter.enter-active & {
    height: $overlay-height-desktop;
    padding: $padding;
    transition: all $transition_speed ease-in;
  }

  .enter-done & {
    height: $overlay-height-desktop;
    padding: $padding;
  }

  .exit & {
    height: $overlay-height-desktop;
    padding: $padding;
  }

  .exit-active & {
    height: 0;
    padding: 0;
    transition: all $transition_speed ease-out;
  }

  &.exit-done & {
    height: 0;
    padding: 0;
  }
}
