@import "shared";
@import "sharingButtons";

$overlay-height-desktop: 240px;
$overlay-height-mobile: 130px;

.info-button {
  position: absolute;
  width: 100px;
  // right: 30px;
  // bottom: $overlay-height + 20px;
  right: 20px;
  bottom: $overlay-height-desktop + 50px;
  background: transparent;
  outline: 0;
  border: 0;
  z-index: 500;

  @media (max-width: $mobile_breakpoint) {
    bottom: $overlay-height-mobile + 50px;
    right: 0;
  }
}

.info-button:hover {
  cursor: pointer;
}

.title-desc {
}

.info-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: $overlay-height-desktop;
  display: flex;
  font-size: 16px;

  position: fixed;
  bottom: 0;
  z-index: 500;
  background: #fff;
  padding: 20px;

  @media (max-width: $mobile_breakpoint) {
    height: $overlay-height-mobile;
  }

  .info-section {
    flex: 2;
  }

  .share-links {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }

  .share-links {
    @media (max-width: $mobile_breakpoint) {
      display: none;
    }
  }
}
