@import "shared";

.nav {
  padding: 0;
  margin: 0;
}

@mixin selected {
  color: $color_selected;
  font-weight: 600;
}

ul.menu {
  @include luti_font;
  background: #f6f6f6;

  margin: 0;
  padding: 6px 0;
  list-style-type: none;
  text-align: center;
  z-index: 500; // for the map
  position: absolute;
  width: 100vw;
  font-size: $font_size;

  li {
    width: 100%;
    white-space: nowrap;

    &.hidden {
      opacity: 0;
      height: 0;
      visibility: hidden;
    }
  }

  li:first-of-type {
    display: flex;
    align-items: center;
    justify-content: center;

    .menu-toggle {
      display: inline;
      height: 16px;
      padding: 0 20px;
    }

    .menu-link {
    }

    a {
      @include selected;
    }
  }

  li {
    a {
      color: $color;
      text-decoration: none;
    }

    &.selected a {
      @include selected;
    }
  }

  li > a.hover {
    color: $color_selected;
    text-decoration: underline;
  }

  // animation
  .wf-loading & {
    opacity: 0;
  }

  .wf-active & {
    opacity: 1;
    transition: all $transition_speed linear;
  }

  &.enter li + li {
    opacity: 0;
    visibility: hidden;
  }

  &.enter.enter-active li + li {
    opacity: 1;
    visibility: visible;
    transition: all $transition_speed linear;
  }

  &.enter-done li + li {
    opacity: 1;
    visibility: visible;
  }

  &.exit li + li {
    opacity: 1;
    visibility: visible;
  }

  &.exit-active li + li {
    opacity: 0;
    visibility: hidden;
  }

  &.exit-done li + li {
    opacity: 0;
    visibility: hidden;
  }
}
