$color_selected: #666666;
$color: #999999;

nav {
  background: #fff;
  font-family: "antarctican-headline", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;

  .wf-loading & {
    opacity: 0;
  }

  .wf-active & {
    opacity: 1;
    transition: opacity 0.5s linear;
  }
}

.menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  z-index: 500; // for the map
}

.menu li {
  width: 100%;
  font-size: 16px;
  padding: 6px;
  white-space: nowrap;

  &.hidden {
    display: none;
  }
}

a {
  color: $color;
  font-size: 22px;
  text-decoration: none;

  .selected & {
    color: $color_selected;
    font-weight: 600;
  }
}

a.hover {
  color: $color_selected;
  text-decoration: underline;
}
