@import "shared";

.nav {
  padding: 0;
  margin: 0;
}

.menu {
  font-family: "antarctican-headline", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  z-index: 500; // for the map

  .wf-loading & {
    opacity: 0;
  }

  .wf-active & {
    opacity: 1;
    transition: all $transition_speed linear;
  }

  &.enter li + li {
    opacity: 0;
  }

  &.enter.enter-active li + li {
    opacity: 1;
    transition: all $transition_speed linear;
  }

  &.enter-done li + li {
    opacity: 1;
  }

  &.exit li + li {
    opacity: 1;
  }

  &.exit-active li + li {
    opacity: 0;
  }

  &.exit-done li + li {
    opacity: 0;
  }
}

.menu li {
  background: #fff;
  width: 100%;
  font-size: 16px;
  white-space: nowrap;
  padding: 6px;

  &.hidden {
    opacity: 0;
    height: 0;
    padding: 0;
  }
}

a {
  color: $color;
  font-size: 22px;
  text-decoration: none;

  .selected & {
    color: $color_selected;
    font-weight: 600;
  }
}

a.hover {
  color: $color_selected;
  text-decoration: underline;
}
