$color_selected: #666666;
$color: #999999;
$transition_speed: 100ms; // see TRANSITION_SPEED in js
$mobile_breakpoint: 780px;
$large_breakpoint: 1150px;
$font_size: 1.7em;
$menu-height: 32px;
$browser-context: 16; // Default
$z-index-map: 500;

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

@mixin luti_font() {
  @font-face {
    font-family: "antarctican-headline", "Trebuchet MS", Helvetica, sans-serif;
    src: "https://use.typekit.net/ikz3unr.css%E2%80%9C%3E";
  }

  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: $color_selected;
}
